@using Kartisiot.Models;

<div id="carousel_container">
    <div class="carousel">
        @foreach (var slide in SlideViewModels.AllCategories[0].Slides)
        {
            <div class="slide">
                <div class="slide-text">@(slide.SlideText)</div>
                <img class="slide-img" src="~/Content/Images/@(slide.SlideImageSrc)" />              
            </div>
        }

    </div>

</div>

<script>
    $(document).ready(function () {
        $(".carousel").owlCarousel({
            "singleItem": true,
            "navigation": true,
            "slideSpeed": 1000,
        });
    });

</script>
